
#attract_scope{
	fill:rgba(25, 220, 80, 0.5);
	stroke:rgba(25, 170, 80, 0.85);
	stroke-width:0.5px;
}

#orient_scope{
	fill:rgba(20, 190, 233, 0.5);
	stroke:rgba(22, 6, 245, 0.85);
	stroke-width:0.5px;
}

#collision_radius{
	fill:rgba(240, 165, 55, 0.5);
	stroke: rgba(200, 25, 0, 0.85);
	stroke-width:1.5px;
}

#speed{
	fill:rgba(33, 82, 218, 0.5);
	stroke:rgba(17, 8, 95, 0.85);
	stroke-width:1.0px;
}

#droplet{
	fill: rgba(0, 0, 0, 0.9); 
	stroke: rgba(0, 0, 0, 0);
}

